body {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 0.12rem;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #F8F8F8; }

.header {
  width: 100%;
  height: 0.5rem;
  background: #fff;
  position: relative; }
  .header i {
    position: absolute;
    left: 0.15rem;
    top: 0.1rem;
    font-size: 0.3rem;
    color: #828282; }
  .header h1 {
    text-align: center;
    line-height: 0.5rem;
    font-weight: 400; }

.section {
  -webkit-flex: 1;
  overflow-y: scroll; }
  .section .inf {
    width: 100%;
    height: 0.5rem;
    margin-top: 0.05rem;
    position: relative;
    background: #fff;
    padding-left: 0.2rem;
    padding-right: 0.1rem;
    padding-top: 0.1rem;
    box-sizing: border-box; }
    .section .inf i {
      position: absolute;
      left: 0.5rem;
      top: 0.18rem; }
    .section .inf input {
      width: 100%;
      height: 0.3rem;
      padding-left: 0.5rem;
      box-sizing: border-box;
      border-radius: 0.09rem;
      border: none;
      background: #eee; }
  .section .healt-top {
    width: 100%;
    height: 0.5rem;
    background: #fff;
    margin-top: 0.1rem;
    line-height: 0.5rem;
    border-bottom: 0.01rem #ccc solid;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    box-sizing: border-box; }
    .section .healt-top span {
      font-size: 0.16rem; }
    .section .healt-top b {
      font-weight: 400;
      font-size: 0.14rem;
      color: #B4B4B4; }
      .section .healt-top b i {
        font-size: 0.2rem;
        padding-left: 0.1rem; }
  .section .ico {
    margin-top: 0.1rem; }
    .section .ico .icon {
      width: 100%;
      height: auto;
      background: #fff;
      display: -webkit-flex; }
      .section .ico .icon dl {
        -webkit-flex: 1;
        text-align: center;
        border-right: 0.01rem #ccc solid; }
        .section .ico .icon dl dt {
          line-height: 2;
          font-size: 0.3rem; }
          .section .ico .icon dl dt i {
            color: #B3DA65; }
        .section .ico .icon dl dd {
          line-height: 2;
          padding-bottom: 0.05rem; }
    .section .ico .icon-ic {
      width: 100%;
      height: auto;
      background: #fff;
      margin-top: 0.02rem;
      display: -webkit-flex; }
      .section .ico .icon-ic dl {
        -webkit-flex: 1;
        text-align: center;
        border-right: 0.01rem #ccc solid; }
        .section .ico .icon-ic dl dt {
          line-height: 2;
          font-size: 0.3rem; }
          .section .ico .icon-ic dl dt i {
            color: #B3DA65; }
        .section .ico .icon-ic dl dd {
          line-height: 2;
          padding-bottom: 0.1rem; }
  .section .tui-jian {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    box-sizing: border-box;
    margin-top: 0.1rem; }
    .section .tui-jian ul {
      display: -webkit-flex; }
      .section .tui-jian ul li {
        padding: 0.1rem 0;
        -webkit-flex: 1;
        text-align: center;
        line-height: 2;
        color: #A1A1A1;
        font-size: 0.15rem; }
        .section .tui-jian ul li .float-right {
          padding-right: 0.1rem;
          line-height: 1.8;
          font-size: 0.18rem; }
  .section .jing {
    width: 100%;
    height: auto;
    margin-top: 0.1rem;
    background: #fff;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    box-sizing: border-box; }
    .section .jing span {
      margin-right: 0.05rem;
      margin-bottom: 0.05rem;
      display: inline-block;
      border: 0.01rem #ccc solid;
      padding: 0.05rem;
      background: #F4F9FF;
      border-radius: 0.08rem;
      color: #A8B5BE; }
  .section .swiper-container {
    width: 100%;
    height: 1.3rem; }
    .section .swiper-container .swiper-wrapper {
      width: 100%;
      height: 100%; }
      .section .swiper-container .swiper-wrapper img {
        width: 100%;
        height: 100%; }
  .section .speak {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    box-sizing: border-box;
    background: #fff;
    font-size: 0.17rem; }
  .section .nei {
    width: 100%;
    height: auto;
    background: #fff;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    box-sizing: border-box; }
    .section .nei dl {
      display: -webkit-flex;
      margin-bottom: 0.1rem;
      border-bottom: 0.01rem #ccc solid; }
      .section .nei dl dt {
        margin-bottom: 0.05rem; }
        .section .nei dl dt img {
          width: 0.8rem;
          height: 0.8rem; }
      .section .nei dl dd {
        padding-left: 0.1rem; }

.footer {
  width: 100%;
  height: auto;
  background: #fff;
  display: -webkit-flex;
  border-top: 0.01rem #ccc solid; }

dl {
  -webkit-flex: 1;
  text-align: center; }
  dl dt {
    padding-top: 0.05rem;
    line-height: 1;
    font-size: 0.2rem; }
    dl dt i {
      color: #595959; }
  dl dd {
    line-height: 2;
    color: #595959; }

.bl-blue {
  color: #3F84FB;
  font-size: 0.19rem; }

.bg-a {
  color: #F8D66B !important; }

.bg-z {
  color: #CEABFD !important; }

/*# sourceMappingURL=style_2.css.map */
